.card-title {
  font-weight: bold;
  border: 2px solid brown;
  border-radius: 4px;
  background: brown;
  text-align: center;
}
.card {
  margin-top: 3rem;
  background: beige;
  max-width: 18rem;
  box-shadow: 1px 1px 1px 1px grey;
}
.card-text {
  text-align: center;
}

.card-group {
  gap: 15px;
  justify-content: center;
}
.containerBtnLog {
  display: flex;
  justify-content:space-between;
}

#btnLogOut {
  color: black;
  border-color: brown;
  background-color: brown;
  box-shadow: 10px 5px 5px grey;
  letter-spacing: 0.1em;
  font-weight: bold;
}
